/* Global */
:root {
    font-size: 10px;
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant : var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-black);

    /* Colors */
--color-white: #ffffff;
--color-black: #4D5159;
--color-blue: #03e8f9;
--color-orange: #fd6413;
--color-gray: #1b1e26;
--color-backgroundcolor : #FBF7F2;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Open Sans',sans-serif;
    margin : 0;
}
ul,li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
}

/* Common */
.section {

}

/* Header */
header {
    width: 100%;
    background-color: var(--color-white);
    position: fixed;

}

.header {
    width: 100%;
    max-width: 1200px;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    
}

.header__logo {
    display:flex;
    align-items: center;
    gap: 8px;
}

.logo__title{
    font-size: 2.4rem;
    color: black;
}
.nav__items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 4px;
    
}

.logo__photo {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    margin-right: 10px;
    text-align: center;
}

.nav__item {
    font-size: 1.8rem;
    margin-right: 10px;
    padding : 8px 16px;
    
}

.nav__item:hover {
    border-bottom : 1px solid var(--color-accent);

}

.nav__item.active {
    border : 1px solid var(--color-accent);
    border-radius: 8px; 

}

/* Home */

#home {
    background-color: #FBF7F2;
    width: 100%;
    height: 100vh;
    padding: 1rem 5rem;
}

.home {
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.home__main {
    width: 100%;
}

.home__profile {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.home__title {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 3.2rem;
    letter-spacing: -0.4px;
}

.home__desc {
    font-size: 1.6rem !important;
    line-height: 1.5;
    letter-spacing: -0.3px;
    margin-bottom: 3.2rem;
}

.home__button {
    background-color: #F1F3F5;
    color: #212529;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 1.45rem 2.6rem;
    display: inline-block;
    font-size: 1.8rem !important;
    line-height: 1.47;
    letter-spacing: -0.3px;
    font-weight: bold;
}

.home__button:hover{
    background-color: #E9ECEF;
}

/* about */
.about {
    max-width: 1200px;
    height: 100vh;
    margin : auto;
    padding: 15rem 0;
}

#about {
    width: 100%;
    height: 100vh;
}

.about__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
    
    
}

.about__cards {
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;


}

.about__card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-backgroundcolor);
    border-radius: 1rem;

}

.about__card > p {
    text-align: center;
}

.card__title {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
}

.card__desc {
    font-size: 1.2rem;
}

.about__card > i {
    font-size: 100px;
    color: var(--color-orange);
    text-align: center;
}

.about__title {
    font-size: 4rem;
    margin-bottom: 5rem;

}

.about__desc {
    font-size: 1.6rem;
}

.about__career {
    display: flex;


}

.career__photo{
    background-color: black;
    height: 80px;
    object-fit: cover;
    margin-right: 1.5rem;
    border-radius: 1.5rem;
}

.career__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    text-align: center;
}

.card__img--ts {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 1rem;

}

/* skills */

#skills {
    background-color: var(--color-backgroundcolor);
    width: 100%;
    height: 100vh;
}

.skills {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.skills__main {
    display: flex;
    width : 50%;
    flex-direction: column;
    justify-content: center;
    
}

.skills__title {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 2rem;

}

.skills__desc {
    font-size: 2.4rem;
    text-align: left;
    margin-bottom: 3rem;
}

.skills__skillsbox {
    display: flex;
    background-color: var(--color-orange);
    justify-content: space-between;
    height: 50rem;
    width: 50%;
    color: #212529;
}

.box__skills__profile {
    width: 60%;
    background-color: #e6f3e6;
}

.box__skills__title {
    text-align: center;
    font-size: 2rem;
    margin : 1.6rem 0;
}

.box__skills{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    font-weight: 700;
    
}

.box__skill__desc {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    font-size: 1.6rem;
    padding: 1.6rem;
}

.box__skill__percentbar {
    margin: auto;
    width: 80%;
    height: 0.4rem;
    padding: 0 1.6rem;
    
}

.percentbar__width {
    width: 80%;
    height: 100%;
    background-color: rgb(48, 52, 67)
}

.box__attributes {
    width: 40%;
    background-color: rgb(194, 232, 194)
}

.box__attributes__title {
    font-size: 2rem;
    text-align: center;
    margin: 1.6rem;
}

.box__attributes__items {
    display: flex;
    flex-direction: column;
    height: 80%;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

/* work */

#work {
    width: 100%;
    height: 100vh;
}

.work {
    width: 1200px;
    height: 100%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.work__title {
    font-size: 4rem;
    margin-bottom: 1.6rem;
}

.work__desc {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.nav__list__item__button {
    background-color: var(--color-backgroundcolor);
    position: relative;
    color: var(--color-text);
    font-size: 1.6rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-backgroundcolor);
    cursor: pointer;
    white-space: nowrap;
}

.projects__nav__list{
    display: flex;
    width: 80%;
    gap: 1rem;
    margin-bottom: 4rem;
}

.projects__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    
}

.projects__list__item {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
}

.projects__list__item > a {
    width: 100%;
    height: 100%;
}

.project__img {
    width: 100%;
    
}

.project {
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--color-backgroundcolor);
    opacity: 0;
    top : -0%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.project:hover{
    opacity: 0.7;
    transition: 300ms ease-out all;
}

/* testimonials */
#testimonials {
    background-color: var(--color-backgroundcolor);
    width: 100%;
    height: 100vh;
}

.testimonials {
    max-width: 1200px;
    height: 100%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.testimonials__title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.testimonials__desc {
    font-size: 2rem;
    margin-bottom: 8rem;

}

.testimonials__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials__card{
    display: flex;
    margin-bottom: 3rem;
    width: 100%;
}

.testimonials__card__desc {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
    letter-spacing: 0.08rem;
    font-size: 1.2rem;
}
.card__photo {
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 2rem;
}

.testimonials__card:nth-child(2) .card__photo {
    background-color: #03e8f9;
    order:1;
    margin-right: 0;
    margin-left: 2rem;
}

.card__tofrom {
    text-align: center;
    color:rgb(255, 138, 61);
}

/* contact */

#contact {
    border-top: 1px solid rgb(234, 235, 238)
}

.contact {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 0 auto;
    height: 30vh;
    font-size: 2rem;
    gap:2rem;
}

.footer__title, .footer--links{
    font-size: 4rem;
}

/* arrow-up */

.arrow-up {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    background-color: rgb(234, 235, 238);
}